In [1]:
import pandas as pd

In [28]:
data_m_1 = pd.read_excel('./DATA_Français/NUTZUNG-MORTALITÄT_FRENCH.xlsx', sheet_name='LFI1-LFI2')
data_m_2 = pd.read_excel('./DATA_Français/NUTZUNG-MORTALITÄT_FRENCH.xlsx', sheet_name='LFI2-LFI3')
data_m_3 = pd.read_excel('./DATA_Français/NUTZUNG-MORTALITÄT_FRENCH.xlsx', sheet_name='LFI3-LFI4')

In [31]:
data_m_3.head()

,PARCELLE,X,Y,NB_SAISON,VOL_BOIS_MANQUANT_NDH,VOL_BOIS_MANQUANT_LBH,VOL_BOIS_MANQUANT,UNIT_VOL_BOIS_MANQUANT_NDH,UNIT_VOL_BOIS_MANQUANT_LBH,UNIT_VOL_BOIS_MANQUANT,LFI
0,51,688000,293000,6.00,0.0,10.3,10.3,0.0,1.7,1.7,LFI3-LFI4
1,384,689000,288000,7.00,0.0,0.0,0.0,0.0,0.0,0.0,LFI3-LFI4
2,1239,720000,281000,5.51,0.0,0.0,0.0,0.0,0.0,0.0,LFI3-LFI4
3,1419,717000,280000,10.00,0.0,208.1,208.1,0.0,20.8,20.8,LFI3-LFI4
4,1431,723000,280000,9.01,121.8,275.1,396.9,13.5,30.5,44.1,LFI3-LFI4

In [33]:
data_m = pd.concat([data_m_1, data_m_2, data_m_3])
data_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7209 entries, 0 to 2402
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PARCELLE                    7209 non-null   int64
 1   X                           7209 non-null   int64
 2   Y                           7209 non-null   int64
 3   NB_SAISON                   7209 non-null   float64
 4   VOL_BOIS_MANQUANT_NDH       7209 non-null   float64
 5   VOL_BOIS_MANQUANT_LBH       7209 non-null   float64
 6   VOL_BOIS_MANQUANT           7209 non-null   float64
 7   UNIT_VOL_BOIS_MANQUANT_NDH  7209 non-null   float64
 8   UNIT_VOL_BOIS_MANQUANT_LBH  7209 non-null   float64
 9   UNIT_VOL_BOIS_MANQUANT      7209 non-null   float64
 10  LFI                         7209 non-null   object
dtypes: float64(7), int64(3), object(1)
memory usage: 675.8+ KB

In [34]:
data_m.head()

,PARCELLE,X,Y,NB_SAISON,VOL_BOIS_MANQUANT_NDH,VOL_BOIS_MANQUANT_LBH,VOL_BOIS_MANQUANT,UNIT_VOL_BOIS_MANQUANT_NDH,UNIT_VOL_BOIS_MANQUANT_LBH,UNIT_VOL_BOIS_MANQUANT,LFI
0,51,688000,293000,10.99,0.0,0.0,0.0,0.0,0.0,0.0,LFI1-LFI2
1,384,689000,288000,11.50,0.0,0.0,0.0,0.0,0.0,0.0,LFI1-LFI2
2,1239,720000,281000,10.99,0.0,75.3,75.3,0.0,6.9,6.9,LFI1-LFI2
3,1419,717000,280000,10.99,0.0,0.0,0.0,0.0,0.0,0.0,LFI1-LFI2
4,1431,723000,280000,10.99,0.0,33.3,33.3,0.0,3.0,3.0,LFI1-LFI2

In [35]:
data_accr_1 = pd.read_excel('./DATA_Français/ZUWACHS_FRENCH.xlsx', sheet_name='LFI1-LFI2')
data_accr_2 = pd.read_excel('./DATA_Français/ZUWACHS_FRENCH.xlsx', sheet_name='LFI2-LFI3')
data_accr_3 = pd.read_excel('./DATA_Français/ZUWACHS_FRENCH.xlsx', sheet_name='LFI3-LFI4')

In [39]:
data_accr = pd.concat([data_accr_1, data_accr_2, data_accr_3])
len(data_accr)

7209

In [50]:
data_join = data_m.merge(data_accr,on=['PARCELLE','LFI','X','Y','NB_SAISON'],how='outer')
data_join.head()

,PARCELLE,X,Y,NB_SAISON,VOL_BOIS_MANQUANT_NDH,VOL_BOIS_MANQUANT_LBH,VOL_BOIS_MANQUANT,UNIT_VOL_BOIS_MANQUANT_NDH,UNIT_VOL_BOIS_MANQUANT_LBH,UNIT_VOL_BOIS_MANQUANT,LFI,ACCR_NDH,ACCR_LBH,ACCR,UNIT_ACCR_NDH,UNIT_ACCR_LBH,UNIT_ACCR
0,51,688000,293000,10.99,0.0,0.0,0.0,0.0,0.0,0.0,LFI1-LFI2,51.5,79.8,131.3,4.7,7.3,11.9
1,384,689000,288000,11.50,0.0,0.0,0.0,0.0,0.0,0.0,LFI1-LFI2,98.7,25.8,124.5,8.6,2.2,10.8
2,1239,720000,281000,10.99,0.0,75.3,75.3,0.0,6.9,6.9,LFI1-LFI2,0.0,134.8,134.8,0.0,12.3,12.3
3,1419,717000,280000,10.99,0.0,0.0,0.0,0.0,0.0,0.0,LFI1-LFI2,0.0,15.0,15.0,0.0,1.4,1.4
4,1431,723000,280000,10.99,0.0,33.3,33.3,0.0,3.0,3.0,LFI1-LFI2,-5.2,67.1,61.9,-0.5,6.1,5.6

In [51]:
len(data_join)

7209

In [52]:
data_join.to_excel('data_m_accr_with_swiss_coord.xlsx')